body{
    transition:0.2s;
}
.Dark{
    background-image: url('Image/Dark mode.jpg');
}

.Corps{
    
    background-image: url('Image/Light Mode.jpg');
}

.Mode{
    background-color: gray;
    border-radius: 5%;
    position: absolute;
    width: 100px;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}